<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Functions</title>
</head>
<body>

<form style="margin:10%;">
    <input type="button" value="Alert" onclick="alertMe()"
           style=" background:blue; color:#fff;border: 1px solid blue; border-radius:5px 2.5px; font-size:22px;">
</form>

<script type="text/javascript">

//function keyword tells js we are going to make a function

let x = myFunction(4, 3);   // Function is called, return value will end up in x

function myFunction(a, b) {
  return a * b;             // Function returns the product of a and b
}

function alertMe(){
    alert("The answer is " + x)
}

//calling a function from another function

function doFirst(){
    document.write(" I am first bro! ")
}

function doSecond(){
    document.write(" I am second bro! ")
}

function callFirstAndSecond(){
    doFirst()
    doSecond()
}

callFirstAndSecond()
</script>
</body>
</html>